.myorer{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
  
}
.ordercard{
    background-color: #ffd9cc;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    margin-top: 10px;
    
}
.orimg{
   display: block;
   margin-left: auto;
   margin-right: auto;
    margin-top: 25px;
    height: 300px;
    border-radius: 15px;
    
}
.orna{
    text-align: center;
    color: brown;
    margin-top: 20px;
}
.orpri{
    text-align: center;
    color: cornflowerblue;
    margin-top: 20px;
}.oradd{
    text-align: center;
    color: brown;
    margin-top: 20px;
}
@media screen and  (min-width:394px){
    .ordercard{
        width: 360px;
    }
}
@media screen and  (min-width:1200px){
    .ordercard{
        width: 400px;
    }
}