.product-card{
    background-color:#ffd9cc;
    border-radius: 20px;
    border: 1px solid black;
    margin: 10px;
    padding:10px;
    width: 300px;
    margin-top: 50px;
    
}
.product-img
{
    margin-top: 20px;
    height: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #f9f5d2;

}
.name{
    margin-top: 20px;
    text-align: center;
    color: brown;
}
.price{
    margin-top: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornflowerblue;
}
.description{
    margin: 10px;
    margin-bottom: 60px;
    text-align: justify;
    color: brown;
}
.shop-now{
    background-color:cornflowerblue;
    font-size: 25px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: none;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    margin-left: 60px;
    position: relative;
    top:-20px;
}
.shop-now:hover{
    background-color: #503716;
    color:#ffd9cc
}
@media screen and  (min-width:394px){
    .product-card{
        width: 350px;
    }
    .shop-now{
        margin-left: 90px;
    }
}
@media screen and  (min-width:1200px){
    .product-card{
        width: 300px;
    }
    .shop-now{
        margin-left: 65px;
    }
}