.buy-container{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    background-color: #ffd9cc;
    width: 1200px;
    padding: 20px;
    margin-left: 140px;
}
.proimg{
   
    margin-left: 30px;
    border-radius: 50px;
    margin-top: 0px;
    height: 500px;
    
}
.des-pro{
    margin-top: 20px;
    text-align: justify;
    font-size: 20px;
    color: brown;
  
}
.grow{
    margin-left: 70px;
     background-color: #ffd9cc;
 
}
.qun-btn{
    height: 50px;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 50px;
    border-radius: 50%;
    background-color: brown;
    color: #ffd9cc;
    position: relative;
   
top:15px;
}

.min-btn{
height: 50px;
font-size: 30px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 20px;
padding-right: 20px;
width: 50px;
position: relative;
top:15px;
border-radius: 50%;
background-color: brown;
color: #ffd9cc;
}
.quan{
    margin-top: 30px;
    margin-left: 10px ;
    margin-right: 10px;
    font-size: 30px;
    color: brown;
    position: relative;
    top:15px;
}
.tx-qan{
    font-size: 30px;
    color: brown;
    position: relative;
    top:15px;
}
.ru{
    margin-top: 15px;
}

.min-btn:hover{
    cursor: pointer;
}
.qun-btn:hover{
    cursor: pointer;
}
.add{
    margin-top: 20px;
}
.ress{
    background-color: brown;
    padding: 6px;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    border: none;
}
.ress::placeholder{
    color: #ffd9cc;
}
.star{
    margin-top: 30px;
   
}
.fa-solid{
    margin-left: 15px;
}
.now{
    background-color:cornflowerblue;
    font-size: 25px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: none;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    
    width: 60%;
    position: relative;
    top:20px;
}





@media screen and  (min-width:394px){
    .buy-container{
        flex-direction: column;
        width: 360px;
        height: 960px;
        margin-left: 20px;
    }
.proimg{
    height: 300px;
    margin-left: 0px;
}
.grow{
    margin-left: 0px;
margin-top:30px ;
}
.ress{
    width: 100%;
   
}
.now{
    width: 80%;
    margin-left: 35px;
}

}



@media screen and  (min-width:1200px){
    .buy-container{
        flex-direction: row;
        width: 1200px;
        margin-left: 140px;
       height: 540px;
    }
    .proimg{
        height: 500px;
        margin-left: 30px;
    }
    .grow{
        margin-left: 70px;
        margin-top: 0px;
    }
    .ress{
        width: 60%;
    }
    .now{
        width: 60%;
        margin-left: 100px;
    }
  
}
.myorder{
    height: 100vh;
}