.tital{
    margin-top: 90px;
    text-align: center;
}
.products-container{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}
.main-card{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.gadimg{
    margin-top: 90px;
    width: 700px;
    border-radius: 20px;

}
.a{
    position: relative;
    top: 90px;
    margin-left: 20px;
    margin-top: 100px;
    font-size: 60px;
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.b{
    position: relative;
    top: 96px;
    margin-left: 20px;
    font-size: 60px;
    color:cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.c{
    margin-left: 205px;
    position: relative;
    top: 11px; 
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffd9cc;
}
.g{
    position: relative;
    
    top: 11px;
    font-size: 60px;
    color: cornflowerblue;
}
.d{
    position: static;
    
    font-size: 15px;
    margin-top: 25px;
    margin-left: 30px;
    color:cornflowerblue;
}
.e{
    position: relative;
    top:40px;
    margin-top: -30px;
    margin-left: 0px;
    font-size: 15px;
    margin-left: 30px;
    color:cornflowerblue;
  
}
.f{
    position: relative;
   top: 80px;
   
   margin-top: -30px;
   font-size: 15px;
   bottom: 80px;
   margin-left: 30px;
   color:cornflowerblue;
}
.btn1{
    position: relative;;
    top: 140px;
    left: 30px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    background-color:  #ffd9cc;
    color: brown;
    border-radius: 30px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn2
{
    position: relative;;
    top: 140px;
    left: 50px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    background-color: #ffd9cc;
    color:  brown;
    border-radius: 30px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn1:hover{
    cursor: pointer;
    background-color: brown;
    color: #ffd9cc
    
}
.btn2:hover{
    cursor: pointer;
    background-color: brown;
    color: #ffd9cc
}

    














@media screen and  (min-width:390px){
    .gadimg{
        width: 375px;  
        margin-top: 190px;
    }
    .a{
        font-size: 43px;
        margin-left: 10px;
    }
    .b{
        font-size: 43px;
        margin-left: 10px;
    }
    .c{
        font-size: 43px;
        margin-left: 135px;
        top: 35px;
    }
    .d{
        margin-top: 85px;
        margin-left: 20px;
    }
    .e{
        
        margin-left: 20px;
        
    }.f{
     
        margin-left: 20px;
        
    }
    .g{
        font-size: 43px;
        top: 35px;
    }
    .btn1{
        font-size: 20px;
        padding-left: 20px;
        left: 25px;
        padding-right: 20px;
    }
    .btn2{
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        left: 55px;
    }
}















@media screen and  (min-width:1200px){
    .gadimg{
        width: 700px;
         margin-top: 90px;  
    }
    .a{
        font-size: 60px;
        margin-left: 20px;
    }
    .b{
        font-size: 60px;
        margin-left: 20px;
    } .c{
        font-size: 60px;
        margin-left: 205px;
        top: 16px;
    }
    .d{
        margin-top: 65px;
        margin-left: 30px;
        
    }
    .e{
       
        margin-left: 30px;
        
    }
    .f{
       
        margin-left: 30px;
        
    }
    .g{
        font-size: 60px;
        top: 16px;
    }
    .btn1{
        font-size: 25px;
        padding-left: 30px;
        left: 30px;
        padding-right: 30px;
    }
    .btn2{
        font-size: 25px;
        padding-left: 30px;
        left: 50px;
        padding-right: 30px;
    }
}
hr.hrtag{
    position: relative;
    background-color:  #ff6666;
    height: 2px;
    color:  #ff6666;
}
